.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .content-wrapper {
    display: flex;
    height: 100%;
  }
  
  app-navbar {
    height: 60px;
    width: 100%;
    background-color: #007bff;
    color: white;
  }
  
  app-sidebar {
    width: 250px;
    height: calc(100vh - 60px); /* Subtract the height of the navbar */
    background-color: #343a40;
    color: white;
    position: fixed;
    top: 60px; /* Below the navbar */
    left: 0;
  }
  
  .content {
    margin-left: 250px; /* Make space for sidebar */
    margin-top: 60px; /* Make space for navbar */
    padding: 20px;
    width: calc(100% - 250px);
    overflow-y: auto;
    background-color: #f7f7f7;
  }
  